.MuiFormControl-fullWidth {
    margin: 2% !important;

}
.dataoutput{
    font-size: smaller;
}
.img-caract{
   /* background-color: #ff0;
   color: #0f0; */
   font-size: 1.2em;
   text-align: center;
}